<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址 -->
<mapper namespace="com.aobin.maven.springmvc.mapper.ItemsMapper">

	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>

	<select id="getAllItems" resultType="items">
		select * from items
	</select>

	<select id="getItemById" parameterType="int" resultType="items">
		select *
		from items where id=#{id}
	</select>
	
	<select id="getById" parameterType="int" resultType="items">
		select *
		from items where id=#{id}
	</select>

	<select id="getItemsTotalNumber" resultType="int">
		select count(*) from
		items
	</select>

	<insert id="add" parameterType="items">
		insert into items (name,
		price,
		pic, createtime, detail
		)
		values (
		#{name,jdbcType=VARCHAR},
		#{price,jdbcType=REAL},
		#{pic,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP},
		#{detail,jdbcType=LONGVARCHAR}
		)
	</insert>

	<update id="updateItem" parameterType="items">
		update items set
		name=#{name},price=#{price},pic=#{pic},createtime=#{createtime},detail=#{detail}
		where id=#{id}

	</update>


</mapper>